@import "tailwindcss";
@theme {
  --font-inter: "Inter", sans-serif;
}
@keyframes floatUp {
            0% { transform: translateY(0) scale(1); opacity: 1; }
            100% { transform: translateY(-120vh) scale(0.5); opacity: 0; }
          }